<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
	<extension point="org.eclipse.wst.xml.core.catalogContributions">
	 <catalogContribution>
	  <public 
	  	publicId="http://schemas.synyx.org/hades"
	    uri="jar:hades-0.4-SNAPSHOT.jar!/org/synyx/hades/dao/config/hades.xsd"
	    webURL="http://schemas.synyx.org/hades/hades.xsd" />
	  <system
	    systemId="http://schemas.synyx.org/hades/hades.xsd"
	    uri="jar:hades-0.4-SNAPSHOT.jar!/org/synyx/hades/dao/config/hades.xsd" />
	 </catalogContribution>
	</extension>
	
<extension
 point="org.springframework.ide.eclipse.beans.core.namespaces">
 <namespace
       namespaceHandler="org.synyx.hades.dao.config.DaoNameSpaceHandler"
       uri="http://schemas.synyx.org/hades"/>
</extension>


<extension point="org.springframework.ide.eclipse.beans.ui.namespaces">
  <namespace
        contentProvider="org.synyx.hades.eclipse.beans.ui.HadesNamespaceContentProvider"
        defaultSchemaLocation="http://schemas.synyx.org/hades/hades.xsd"
        labelProvider="org.synyx.hades.eclipse.beans.ui.HadesNamespaceLabelProvider"
        prefix="hades"
        uri="http://schemas.synyx.org/hades"/>
</extension>


	<extension  point="org.springframework.ide.eclipse.beans.ui.editor.namespaces">
	 <namespace
        contentAssistProcessor="org.synyx.hades.eclipse.beans.ui.editor.HadesContentAssistProcessor"
        elementLocator="org.synyx.hades.eclipse.beans.ui.editor.HadesReferenceableElementLocator"
        labelProvider="org.synyx.hades.eclipse.HadesOutlineLabelProvider"
        name="Hades Config"
        uri="http://schemas.synyx.org/hades"/>
	</extension>
	
	<extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            adaptable="false"
            location="TOP_RIGHT"
            label="%decorator.label"
            state="true"
            class="org.synyx.hades.eclipse.beans.ui.HadesModelLabelDecorator"
            id="org.synyx.hades.eclipse.beans.ui.hadesModelLabelDecorator">
         <description>
            %decorator.description
         </description>
         <enablement>
            <or>
               <objectClass name="org.eclipse.core.resources.IFolder"/>
               <objectClass name="org.eclipse.core.resources.IFile"/>
               <objectClass name="org.eclipse.jdt.core.IJavaElement"/>
               <objectClass name="org.springframework.ide.eclipse.beans.core.model.IBeansModelElement"/>
            </or>
         </enablement>
      </decorator>
   </extension>

</plugin>
